main#list {

    #menuConf {
        margin-top: 30px;

        ul {

            li {
                margin-top: 25px;
                display: flex;
                justify-content: center;

                a {
                    display: flex;
                    justify-content: center;
                    width: 210px;
                    padding: 15px;
                    background-color: $colorFont2;
                    color: $colorFont1;
                    border-radius: 24px;
                }
            }
        }
    }

    h2 {
        margin-top: 50px;
    }

    section {
        margin-top: 35px;

        article {
            margin-top: 15px;
            padding: 20px;
            border: 1px solid $colorFont2;
            border-radius: 24px;
        }
    }
}

main#creator {

    h1 {
        margin-bottom: 30px;
    }

    a {
        border: 1px solid $colorFont2;
        border-radius: 24px;
        padding: 10px 15px;
    }

    form {
        margin-top: 40px;

        input,
        select {
            margin-top: 10px;
            margin-bottom: 15px;
            padding: 10px 5px;
            width: 95%;
            background-color: $colorblkGrey;
            border-radius: 5px;
            border: 1px solid $colorFont2;
            color: $colorFont1;
        }

        #ptg {
            display: flex;
            align-items: baseline;

            label {
                width: 80%;
            }

            input {
                width: 20%;
            }
        }
    }
}

main#share {

    h1 {
        margin-bottom: 30px;
    }

    section {
        margin-top: 40px;

        article {

            margin-bottom: 30px;
            padding: 15px;
            border: 1px solid $colorFont2;
            border-radius: 24px;
        }
    }

    #comment {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid $colorFont2;

        section {
            margin-top: 20px;
        }
    }

    a {
        border: 1px solid $colorFont2;
        border-radius: 24px;
        padding: 10px 15px;
    }
}

main#view {

    a {
        border: 1px solid $colorFont2;
        border-radius: 24px;
        padding: 10px 15px;
    }

    #configName {
        margin-top: 50px;
        margin-bottom: 60px;

        h2 {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 1rem;
        }

        h4 {
            font-size: 0.8rem;
        }
    }

    section {

        article {
            margin-bottom: 40px;
            padding: 20px;
            border: 3px solid $colorFont2;
            border-radius: 24px;
            text-align: center;

            img {
                border-radius: 12px;
                margin-bottom: 10px;
            }
        }
    }

    #vehicle-list {

        h3 {
            padding-top: 15px;
            border-top: 1px solid $colorFont2;
            margin-top: 30px;
        }

        li {
            margin-top: 30px;
            border: 1px solid $colorFont2;
            border-radius: 24px;
            padding: 20px;
            text-align: center;

            img {
                border-radius: 12px;
                margin-bottom: 15px;
            }
        }
    }
}