main#creator {

    a {
        border: 1px solid $colorFont2;
        border-radius: 24px;
        padding: 10px 15px;
    }
    
    form {
        margin-top: 40px;

        input,
        select {
            margin-bottom: 15px;
            padding: 0 5px;
            background-color: $colorblkGrey;
            border-radius: 5px;
            border: 1px solid $colorFont2;
            color: $colorFont1;
        }
    }
}