main.login {
    
    form {
        
        .champs {
            display: flex;
            margin-top: 10px;

            label {
                width: 40%;
                margin-right: 5px;
            }

            input {
                width: 55%;
                background-color: $colorblkGrey;
                border-radius: 5px;
                border: 1px solid $colorFont2;
                color: $colorFont1;
            }
        }
    }
}