main.login {
    
    form {
        
        .champs {
            display: flex;
            margin-top: 10px;

            label {
                width: 40%;
                margin-right: 5px;
            }

            input {
                width: 55%;
                background-color: $colorblkGrey;
                border-radius: 5px;
                border: 1px solid $colorFont2;
                color: $colorFont1;
            }

        }

        button {
            width: 100px;
            display: flex;
            margin-left: auto;
            margin-top: 20px;
            padding: 10px 15px;
            border-radius: 24px;
            justify-content: center;
            background-color: $colorFont2;
            border: none;
        }

        button.last {
            background-color: $colorblkGrey;
            border: 1px solid $colorFont2;
            color: $colorFont2;
        }
    }
}