main.login {

    h2 {
        font-size: 1.2rem;
        margin-bottom: 40px;
    }
    
    form {
        
        .champs {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label {
                margin-bottom: 15px;
            }

            input {
                margin-bottom: 25px;
                padding: 10px 5px;
                background-color: $colorblkGrey;
                border-radius: 5px;
                border: 1px solid $colorFont2;
                color: $colorFont1;
            }

            textarea {
                resize: none;
                height: 50px;
                margin-bottom: 25px;
                background-color: $colorblkGrey;
                color: $colorFont1;
                padding: 10px 5px;
                border-radius: 12px;
                border: 1px solid $colorFont2;
            }
        }
    }
}