@media screen and (min-width: 768px) {

    .container {
        width: 500px;
        margin: 40px auto;
    }

    main#homePage {

        #image {
            flex-direction: row;
            margin-bottom: 60px;

            p {
                margin-right: 30px;
            }
        }

        #iframe {

            iframe {
                width: 70%;
                height: 350px;
            }
        }
    }
}


@media screen and (max-width: 1024px) {

    #bandeau #menu {
        display: none;
    }
}


@media screen and (min-width: 1024px) {

    .container {
        width: 900px;
    }

    #bandeau .fa-bars {
        display: none;
    }

    #bandeau #menu {
        display: block;
    }

    main#homePage {

        #image {
            margin: 200px 0;
        }

        #iframe {
            padding-top: 100px;
            iframe {
                height: 450px;
            }
        }
    }

    footer {

        div#ligneViolet {
            border-top: 1px solid $colorFont2;
            width: 900px;
            margin: 0 auto;
        }

        #grpFooter {
            margin: 0 auto;
            display: flex;
            width: 60%;

            #navFooter,
            #footer2 {
                border: none;
                padding: 0 90px;
            }
        }
    }
}