@import './colors.scss';
@import './fonts.scss';

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family: $fontRoboto;
    color: $colorFont1;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.webp');
    background-size: cover;
    filter: blur(8px);
    transform: scale(1.1);

    z-index: 0;
}

.bouttonViolet {
    width: 110px;
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 24px;
    justify-content: center;
    background-color: $colorFont2;
    border: 1px solid $colorFont2;
    font-size: 0.8rem;
}

.bouttonViolet:hover {
    border: 1px solid $colorFont2;
    background-color: $colorblkGrey;
    transition: 0.2s;
}

.last {
    background-color: $colorblkGrey;
    border: 1px solid $colorFont2;
    color: $colorFont2;
}

.last:hover {
    background-color: $colorFont2;
    color: $colorFont1;
    transition: 0.2s;
}

.msg {
    z-index: 100000;
    margin-top: 20px;
    padding: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    text-align: center;
    position: absolute;
    border: 1px solid $colorFont2;
    background-color: #212121ec;
    border-radius: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.warning {
    border: 1px solid red;
    color: red;
}

.success {
    border: 1px solid green;
    color: green;
}

button {
    cursor: pointer;
}

header {
    margin: 0px;

    #bandeau {
        position: relative;
        z-index: 100;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $colorFont2;
        background-color: #212121;

        #logo {
            color: $colorFont2;
            margin-left: 35px;
        }

        .fa-bars {
            margin-right: 30px;
            font-size: 40px;
            color: $colorFont2;
        }

        @import './menuHeader.scss';
    }
}

main#homePage {
    position: relative;

    #image {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        gap: 40px;
        justify-content: center;
        align-items: center;

        p {
            width: 180px;
            padding: 20px;
            background-color: #212121da;
            border-radius: 10px;
            text-align: center
        }

        a {
            margin-bottom: 50px;
            padding: 20px 30px;
            background-color: $colorFont2;
            border: 2px solid $colorFont2;
            border-radius: 24px;
            color: $colorFont1;
        }

        a:hover {
            background-color: #ffffff00;
            color: $colorFont1;
            border: 2px solid $colorFont2;
            border-radius: 24px;
            transition: 0.2s;
        }
    }

    #para {
        margin: 0px;
        width: 100%;
        background-color: $colorblkGrey;

        

        h2,
        p {
            padding: 30px;
            text-align: center;
        }
        
        h2 {
            padding-top: 70px;
        }
    }

    #iframe {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        background-color: $colorblkGrey;
        
        iframe {
            width: 80%;
            height: 180px;
            border: none;
        }
    }
}

main#profile {

    #commentPro {
        margin-top: 40px;

        section {

            article {
                padding-top: 30px;
                padding-bottom: 20px;
                border-bottom: 1px solid $colorFont2;
            }
        }
    }
}

.container {
    margin: 0 25px;
    margin-top: 40px
}

@import './login.scss';
@import './config.scss';
@import './admin.scss';
@import './legal.scss';
@import './footer.scss';



@import './responsive.scss';